@using MudBlazor
@using yaziTura.Services
@using Taraf.Models
@inject yaziTura.Services.IRastgeleService RastgeleService
@inject ISnackbar Snackbar
@inject NavigationManager NavManager

<div class="flip-container">
    <h3 class="text-xl font-bold mb-4">Ne yapacağına karar veremiyor musun ?</h3>
    <div class="mb-4">
        <InputRadioGroup @bind-Value="KullaniciTahmin">
            <InputRadio Value="ParaTarafi.Yazi" /> Yazı
            <InputRadio Value="ParaTarafi.Tura" /> Tura
        </InputRadioGroup>
    </div>

    <div class="mb-4 flex flex-col gap-2">
        <input type="text" placeholder="Yazı için içerik" @bind="KullaniciYaziText" />
        <input type="text" placeholder="Tura için içerik" @bind="KullaniciTuraText" />
    </div>

    <div class="flip-card @(IsFlipping ? "flipping" : "")">
        <div class="flip-card-inner @(IsFlipping ? "animate" : "")">
            <div class="flip-card-front">
                <img src="@frontImage" alt="yazi">
            </div>
            <div class="flip-card-back">
                <img src="@backImage" alt="tura">
            </div>
        </div>
    </div>

    <div class="mt-4 text-center">
        @if (SonucGoster)
        {
            <div class="result-grid">
                <div class="label">Sonuç:</div>
                <div class="value">@(defaultYazi == ParaTarafi.Yazi ? "Yazı" : "Tura")</div>

                <div class="label">İçerik:</div>
                <div class="value">@(defaultYazi == ParaTarafi.Yazi ? KullaniciYaziText : KullaniciTuraText)</div>

                <div class="label">Tahminin:</div>
                <div class="value">@(KullaniciTahmin.ToString() ?? "-")</div>

                <div class="label">Durum:</div>
                <div class="value">@(KullaniciTahmin == defaultYazi ? "Doğru tahmin" : "Yanlış tahmin")</div>

                <div class="label">Toplam Yazı:</div>
                <div class="value">@(@YazıSayısı.ToString() ?? "-")</div>

                <div class="label">Toplam Tura:</div>
                <div class="value">@(TuraSayısı.ToString() ?? "-")</div>
            </div>
        }
    </div>

    <div class="mt-4 text-center">
        <button @onclick="OnClickAt" class="button-49">
            Yazı Tura At
        </button>
    </div>

    <div class="mt-4 text-center">

        <button @onclick="Geri" class="button-49">
            Geri Dön
        </button>
    </div>

</div>

@code {
    [Parameter] public string frontImage { get; set; } = "/images/yazi.png";
    [Parameter] public string backImage { get; set; } = "/images/tura.png";

    private ParaTarafi defaultYazi = ParaTarafi.Yazi;
    private bool IsFlipping = false;
    private bool SonucGoster = false;

    private int YazıSayısı = 0;
    private int TuraSayısı = 0;

    private ParaTarafi KullaniciTahmin { get; set; }
    enum ParaTarafi
    {
        Yazi,
        Tura
    }
    private string KullaniciYaziText { get; set; } = "";
    private string KullaniciTuraText { get; set; } = "";


    private async Task OnClickAt()
    {
        SonucGoster = false;
        IsFlipping = true;
        StateHasChanged();

        await Task.Delay(1500);

        defaultYazi = (ParaTarafi)RastgeleService.At();
        IsFlipping = false;
        SonucGoster = true;

        if (defaultYazi == ParaTarafi.Yazi)
            YazıSayısı++;
        else
            TuraSayısı++;
        StateHasChanged();
    }

    private void Geri()
    {
        NavManager.NavigateTo("/");
    }
}


